{% extends 'frontend/base.html' %}
{% block title %} Contact {% endblock %}
{% block content %}
<div class="jumbotron">
    <h1 class="display-3"><font color="purple">Contact Page</font></h1>
    <p class="lead"></p>
    <hr class="my-2">
    <ul>
        <body>        
        <iframe SRC="https://scontent.fbkk12-2.fna.fbcdn.net/v/t1.0-9/s851x315/117983488_695371834377072_9068336433564202326_o.jpg?_nc_cat=104&_nc_sid=da31f3&_nc_eui2=AeEJWuovIlhHHz12ktXIbDAK49oRlf5Eb3jj2hGV_kRveJrbapvAB8WClS6s_i9SD45wkJoI8s-Hw0r2tIzzmZa4&_nc_ohc=1oTKdpvhFskAX-ARg8i&_nc_ht=scontent.fbkk12-2.fna&tp=7&oh=70422c9e80ba34f6935fc88bb815c0a1&oe=5FA375F8" 
   align="top" WIDTH="399" HEIGHT="399" frameborder="0" marginheight=0 marginwidth=0 scrolling="no">
    

        </iframe>
    </body>
        <br/><li>Komsun Tangsook</li>
        <br/><li>คมสันต์ ตั้งสุข</li>
        <br/><li>INFORMATION ENGINEERING Year 3
            <br/>King Mongkut's Institute of Technology Ladkrabang
</li>
    </ul>
</div

<html>
    
</html>


    </p>
</div>
{% endblock %}